* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.mock {
    background-color: #1F2937;
}
.nav-container{
    width: 100%;
    margin: 0 auto;
    padding: 12px; 
    color: white;
    max-width: 800px; 
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    padding: 8px 32px;
    margin-bottom: 32px;
   
}

.links {
    display: flex;
    gap: 10px;
}

.logo {
    font-size: 24px;
}

.website {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 8px 16px;
    margin-bottom: 32px;
    
}

.para {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 16px;
    gap: 8px;
    position: relative;
}

.img {
    width: 400px;
    max-width: 50%;
    /* flex:5; */
    position: relative;
    
}

img {
    display: flex;
    width: 100%;
    height: 100%;
    

}

button {
   background-color: #3882F6;
   color: white;
   border-radius: 8px;
   padding: 8px 16px;
   width: 100px;
}

.signup .button {
    border: solid 1px white;
    padding: 8px 16px;
    width: 100px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
}
.facts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin: 16px;

}
.fact {
    display: flex;
    flex-direction: column;
    color: darkgray;
    font-size: 12px;
}

.box {
    border: solid 3px #3882F6;
    border-radius: 8px;
    width: 100px;
    height: 100px;
}

.text {
    width: 100px; 
    margin-top: 5px;
}

.info-title {
   text-align: center; 
}

.mock2 {
    background-color:#E5E7EB ;
    display: flex;
    justify-content: center;
}

.quote{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1F2937;
    width: 100%;
    max-width: 800px;
}

.quote-box {  
    display: flex;
    flex-flow: column;
    margin: 40px;
    
}

.quote-text {
    font-size: 25px;
    padding: 16px;
    font-style: italic;
}

.quote-author {
    align-self: self-end;
}

.container-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 100%;
}

.box-signup{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 20px;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 40px;
    background-color: #3882F6;
    border-radius: 8px;
    width: 100%;
    padding: 10px 40px;
}

.action {
    display: flex;
    flex-direction: column;
    padding-left: 15px;

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 32px;
}

